<!DOCTYPE html>
<html lang="en">
<head>
  <title>Login</title>
  <link rel="stylesheet" href="/statics/styles.css">
</head>
<body>
    <header><a href="/">Personal Finance Tracker</a></header>
    <h2>Login</h2>
    <form action="/login" method="POST" id="loginForm">
      <input name="email" id="email" type="email" placeholder="Email" required>
      <input name="password" id="password" type="password" placeholder="Password" required>
      <button type="submit">Login</button>
    </form>

    <p id="loginMessage"></p>
    <script src="/statics/login.js"></script>
</body>
</html>